/* scoping */
em {
  color: green;
}

.sidebar p em {
  /* more specificity than em */
  /* allows making HTML more semantic and readable */
  color: blue;
}

/* while great to scope it's repetitive */
.infobox {
  width: 200px;
}
.infobox .message {
  border: 1px solid red;
}
.infobox .message .title {
  color: red;
}
.infobox .user {
  border: 2px solid black;
}
.infobox .user .title {
  color: black;
}

/* with SASS can do this */
.infobox {
  width: 200px;
  .message {
    border: 1px solid red;
    .title {
      color: red;
    }
  }

  .user {
    border: 2px solid black;
    .title {
      color: black;
    }
  }
}
