// can define a set of factors to import
$width: 10px;
$double_width: $width * 2;
$half_width: $width / 2;
$width_plus_2: $width + 2;
$width_minus_2: $width - 2;

$page_width: 500px;
$sidebar_percent: 0.2;

.page {
  width: $page_width;
  .sidebar {
    width: $page_width * $sidebar_percent;
  }
  .content {
    width: $page_width * (1 - $sidebar_percent);
  }
}

// compiles to
.page {
  width: 500px;
}

.page .sidebar {
  width: 100px;
}

.page .content {
  width: 400px;
}

// can use calc with css
