/* can use a map to put styles into a configuration map */
/* confirmation maps can be used for colors, column sizes, headers */

$framework-colors: (
  red: #b23c56,
  blue: #44aacc,
);

@mixin framework-button {
  background: map-get($framework-colors, red);
}

$red: #cc001a;
.normal-button {
  background: $red;
}

.framework-button {
  @include framework-button;
}

/* compiles to */
.normal-button {
  background: #cc001a;
}

.framework-button {
  background: #b23c56;
}
