/* functions */
@function double($value) {
  @return $value * 2;
}

$normal-padding: 10px;

.sidebar {
  padding: $normal-padding double($normal-padding);
}

/* compiles to */
.sidebar {
  padding: 10px 20px;
}

/* create a first and a last function for lists */
@function first($list) {
  @return nth($list, 1);
}

@function last($list) {
  @return nth($list, length($list));
}
