/* map-has-key map function, @warn */
$breakpoints: (
  small: 400px,
  medium: 700px,
  large: 1200px,
);

@mixin larger-than($size) {
  @if map-has-key($breakpoints, $size) {
    @media (min-width: #{map-get($breakpoints, $size)}) {
      @content;
    }
  } @else {
    @warn "This is not a valid breakpoint.";
  }
}

.hero-image {
  @include larger-than(extra-large) {
    width: 400px;
  }
}
