/* @at-root when want to move out the style */

/* icon is normally used with a header*/
.header {
  .menu {
    float: right;
    .icon {
      border-radius: 50%;
      height: 10px;
      width: 10px;
    }
  }
}

/* compiles to */
.header .menu {
  float: right;
}

.header .menu .icon {
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

/*  want to also be able to use the icon class separately  */
.header {
  .menu {
    float: right;
    @at-root .icon {
      border-radius: 50%;
      height: 10px;
      width: 10px;
    }
  }
}

/* compiles to */
.header .menu {
  float: right;
}

.icon {
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
