/* direct-descendants */

// in css direct nesting selector parent > child, more specific child must directly follow parent
.infobox > .message > .title {
  color: red;
}
.infobox > .user > .title {
  color: black;
}

// with sass
.infobox > {
  .message {
    > .title {
      color: red;
    }
  }
  .user {
    > .title {
      color: black;
    }
  }
}

// css output
