/* ampersand-is-the-parent-selector */

.infobox {
  color: blue;
  .user & {
    color: gray;
  }
}

.message {
  color: gray;
  &.new {
    color: red;
  }
}

.infobox {
  body.has-sidebar & .message {
    content: 'body.has-sidebar .infobox .message';
  }
}

// css output

.infobox {
  color: blue;
}
.user .infobox {
  color: gray;
}

.message {
  color: gray;
}
.message.new {
  color: red;
}

body.has-sidebar .infobox .message {
  content: 'body.has-sidebar .infobox .message';
}
