/* importing - can do with css and sass, sass also combines the files */

/* can import css using a string or a url */
/* @import url('importing-example.css') */
@import '5-css-import-ex.css';

.box-1 {
  width: var(--large-box-size);
  height: var(--large-box-size);
  background-color: var(--large-box-color, red); // like the !default sass value
}

.box-2 {
  width: $small-box-size;
  height: $small-box-size;
  background-color: $small-box-color;
}

$header-background: #eee;
$link-color: #369;
$menu-width: 300px;

header {
  // can define variables within scope as well
  background: $header-background;
  .menu {
    width: $menu-width;
    background: white;
    a {
      color: $link-color;
    }
  }
}

/* ex. base.scss
@import 'globals/reset';

@import 'clients/client-a';
@import 'globals/variables'; // use $default to ensure variables have values or overwritten by client-a
@import 'globals/colors';
@import 'globals/typography';
@import 'globals/mixins';

@import 'components/header';
@import 'components/main';
@import 'components/footer';

@import 'pages/profile';
@import 'pages/register';
*/
