/* can use @content to handle css prefixes */
@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

header input {
  @include appearance(searchfield);
}

/* compiles to */
header input {
  -webkit-appearance: searchfield;
  -moz-appearance: searchfield;
  appearance: searchfield;
}

@mixin placeholder-styles() {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &::-ms-input-placeholder {
    @content;
  }
}

input {
  @include placeholder-styles() {
    font-style: italic;
  }
}

/* compiles to */
input::-webkit-input-placeholder {
  font-style: italic;
}

input::-moz-placeholder {
  font-style: italic;
}

input::-ms-input-placeholder {
  font-style: italic;
}
