$my-list: '20px, 5px, 100px, 40px';

@mixin border-radius($list) {
  border-radius: $list;
  /* index starts at 1 */
  -webkit-border-radius: nth($list, 1) nth($list, 2) nth($list, 1),
    nth($list, 2);
}

.selector {
  @include border-radius(20px 5px);
}

/* compiles to */
.selector {
  border-radius: 20px 5px;
  -webkit-border-radius: 20px 5px 20px 5px;
}

/* use parentheses to designate nested lists */
/* spacing: ("20px, 5px"), ("10px, 15px"), ("30px, 40px"); */

$colors: 'red', 'green', 'blue';
@each $color in $colors {
  .button-#{$color} {
    background: $color;
  }
}

/* compiles to */
.button-red {
  background: red;
}

.button-green {
  background: green;
}

.button-blue {
  background: blue;
}

/* join lists */
$primary-colors: 'red', 'yellow';
$secondary-colors: 'orange', 'green';

$all-colors: join($primary-colors, $secondary-colors);

.rainbow {
  background: linear-gradient($all-colors);
}

/* compiles to */
.rainbow {
  background: linear-gradient('red', 'yellow', 'orange', 'green');
}

/* add an item onto a list */
$primary-colors: 'red', 'yellow';
@each $color in append($primary-colors, 'blue') {
  .stripe-#{$color} {
    background: $color;
  }
}

.stripe-red {
  background: red;
}

.stripe-yellow {
  background: yellow;
}

.stripe-blue {
  background: blue;
}
