:root {
  /* font-size */
  --font-size-bottom-button: 0.75rem;
  --font-size-kabob-menu: 0.875rem;
  --font-size-small: 1rem;
  --font-size-medium: 1.125rem;
  --font-size-large: 1.25rem;

  /* color */
  --color-text: rgb(160, 160, 160);
  --color-hyperlink: rgb(230, 230, 230);
  --color-hyperlink-underline: rgba(200, 200, 200, 0.6);

  /* accent color */
  --accent-color-top-header: rgb(255, 255, 255);
  --accent-color-header: rgb(255, 255, 255);

  /* button color */
  --button-color-accent: rgb(255, 255, 255);
  --button-color-bottom: rgb(185, 185, 185);
  --button-color-image-gallery: rgb(255, 255, 255);
  --button-color-image-gallery-disabled: rgb(128, 128, 128);
  --button-color-options-bar: rgb(255, 255, 255);

  /* icon color */
  --icon-color: rgb(230, 230, 230);
  --icon-color-header: rgb(230, 230, 230);
  --icon-color-title-bar-back-button: var(--accent-color);
  --icon-color-top-navigation-bar-back-button: var(--accent-color);
  --icon-color-bottom-button: rgb(230, 230, 230);

  /* background-color */
  --background-color-text: rgb(36, 36, 36);
  --background-color-main: rgb(30, 30, 30);
  --background-color-master: rgb(21, 21, 21);
  --background-color-detail: rgb(30, 30, 30);
  --background-color-top-header: rgb(0, 0, 0);
  --background-color-header: rgb(0, 0, 0);
  --background-color-footer: rgb(0, 0, 0);
  --background-color-master-image-gallery: transparent;
  --background-color-image-gallery-container: rgba(33, 33, 33, 0.95);

  /* border */
  --border-bottom-divider: 2px solid rgb(0, 0, 0);
}
