:root {
  --accent-color: #00b2a9;
  --font-family: 'Raleway', sans-serif;

  /* font-size */
  --font-size-bottom-button: 0.75rem;
  --font-size-kabob-menu: 0.875rem;
  --font-size-small: 1rem;
  --font-size-medium: 1.125rem;
  --font-size-large: 1.25rem;
}
