$accent-color: rgb(0, 178, 169);

:root {
  --accent-color: $accent-color;
  --bottom-button-font-size: 12px;
  --kabob-menu-font-size: 14px;
  --small-font-size: 16px;
  --medium-font-size: 18px;
  --large-font-size: 20px;
}

:root .dark-theme {
  --text-color: rgb(160, 160, 160);
  --text-background-color: rgb(36, 36, 36);
  --icon-color: rgb(230, 230, 230);
  --button-accent-color: rgb(255, 255, 255);
  --hyperlink-color: rgb(230, 230, 230);
  --hyperlink-underline-color: rgba(200, 200, 200, 0.6);
  --main-background-color: rgb(30, 30, 30);
  --master-background-color: rgb(21, 21, 21);
  --detail-background-color: rgb(30, 30, 30);
  --top-header-background-color: rgb(0, 0, 0);
  --header-background-color: rgb(0, 0, 0);
  --header-icon-color: rgb(230, 230, 230);
  --top-header-accent-color: rgb(255, 255, 255);
  --header-accent-color: rgb(255, 255, 255);
  --title-bar-back-button-icon-color: $accent-color;
  --top-navigation-bar-back-button-icon-color: $accent-color;
  --footer-background-color: rgb(0, 0, 0);
  --bottom-button-color: rgb(185, 185, 185);
  --image-gallery-button-color: rgb(255, 255, 255);
  --bottom-button-icon-color: rgb(230, 230, 230);
  --image-gallery-disabled-button-color: rgb(128, 128, 128);
  --options-bar-button-color: rgb(255, 255, 255);
  --master-image-gallery-background-color: transparent;
  --image-gallery-container-background-color: rgba(33, 33, 33, 0.95);
}

:root .light-theme {
  --text-color: rgb(44, 64, 76);
  --text-background-color: rgb(255, 255, 255);
  --icon-color: rgba(0, 0, 0, 0.9);
  --button-accent-color: $accent-color;
  --hyperlink-color: rgba(0, 0, 0, 0.9);
  --hyperlink-underline-color: rgba(0, 0, 0, 0.9);
  --main-background-color: $accent-color;
  --master-background-color: $accent-color;
  --detail-background-color: rgb(6, 28, 59);
  --top-header-background-color: rgb(6, 28, 59);
  --header-background-color: rgb(255, 255, 255);
  --header-icon-color: $accent-color;
  --top-header-accent-color: rgb(255, 255, 255);
  --header-accent-color: rgb(0, 0, 0);
  --title-bar-back-button-icon-color: $accent-color;
  --top-navigation-bar-back-button-icon-color: $accent-color;
  --footer-background-color: rgb(255, 255, 255);
  --bottom-button-color: rgba(0, 0, 0, 0.9);
  --image-gallery-button-color: rgb(255, 255, 255);
  --bottom-button-icon-color: rgba(0, 0, 0, 0.9);
  --image-gallery-disabled-button-color: rgb(116, 136, 153);
  --options-bar-button-color: $accent-color;
  --master-image-gallery-background-color: rgb(6, 28, 59);
  --image-gallery-container-background-color: rgb(6, 28, 59);
}
