// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import './variables';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dark-primary: mat-palette($mat-deep-orange);
$dark-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dark-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dark-theme);

$light-primary: mat-palette($mat-blue-gray);
$light-accent: mat-palette($mat-amber, A200, A100, A400);
$light-warn: mat-palette($mat-deep-orange);
$light-theme: mat-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
  )
);
.light-theme {
  @include angular-material-color($light-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-size: 100%;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
