$border-default: 0.05rem solid map-get($colors, primary);

%flexbox-display {
  $flexbox-values: -webkit-box, -ms-flexbox, -webkit-flex, flex;
  @each $flexbox-value in $flexbox-values {
    display: $flexbox-value;
  }
}

.char-highlight {
  font-weight: bold;
  font-size: 1.4rem;
  color: map-get($colors, primary);
}

html {
  font-size: 94.75%;
  @media (min-width: $desktopSize) {
    font-size: 125%;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  @extend %flexbox-display;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 3rem 0;
  box-sizing: border-box;

  @media (min-width: $desktopSize) {
    padding: 3rem 0;
  }
}

.sass-introduction {
  border: $border-default;
  background: #fae5ff;
  padding: 2rem;
  text-align: center;
  /* a list of values */
  box-shadow: 0.2rem 0.2rem 0.1rem #ccc;
  box-sizing: border-box;
}

.sass-introduction p {
  margin: 0;
}

.sass-details {
  border: $border-default;
  background: #fae5ff;
  padding: 1rem;
  text-align: center;
  margin: 2rem 0;
  box-sizing: border-box;
}

.sass-introduction,
.sass-details {
  width: 90%;
  @media (min-width: $desktopSize) {
    width: 30rem;
  }
}

.section-header {
  border-bottom: $border-default;

  h1 {
    margin: 0 0 1rem 0;
  }
}

.documentation-links {
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0;
  @extend %flexbox-display;
  flex-direction: column;

  li {
    margin: 0.2rem 0;
    background: white;
  }

  .documentation-link {
    text-decoration: none;
    color: map-get($colors, primary);
    display: block;
    padding: 0.2rem;
    border: 0.05rem solid map-get($colors, primary);

    &:hover,
    &:active {
      color: map-get($colors, active-text);
      background: map-get($colors, active);
      border-color: map-get($colors, active);
    }
  }
}
