.light {
  /* color */
  --color-text: rgb(44, 64, 76);
  --color-hyperlink: rgba(0, 0, 0, 0.9);
  --color-hyperlink-underline: rgba(0, 0, 0, 0.9);

  /* accent color */
  --accent-color-top-header: rgb(255, 255, 255);
  --accent-color-header: rgb(0, 0, 0);

  /* button color */
  --button-color-accent: var(--accent-color);
  --button-color-bottom: rgba(0, 0, 0, 0.9);
  --button-color-image-gallery: rgb(255, 255, 255);
  --button-color-image-gallery-disabled: rgb(116, 136, 153);
  --button-color-options-bar: var(--accent-color);

  /* icon color */
  --icon-color: rgba(0, 0, 0, 0.9);
  --icon-color-header: var(--accent-color);
  --icon-color-title-bar-back-button: var(--accent-color);
  --icon-color-top-navigation-bar-back-button: var(--accent-color);
  --icon-color-bottom-button: rgba(0, 0, 0, 0.9);

  /* background-color */
  --background-color-text: rgb(255, 255, 255);
  --background-color-main: var(--accent-color);
  --background-color-master: var(--accent-color);
  --background-color-detail: rgb(6, 28, 59);
  --background-color-top-header: rgb(6, 28, 59);
  --background-color-header: rgb(255, 255, 255);
  --background-color-footer: rgb(255, 255, 255);
  --background-color-master-image-gallery: rgb(6, 28, 59);
  --background-color-image-gallery-container: rgb(6, 28, 59);

  /* border */
  --border-bottom-divider: 2px solid rgb(182, 195, 204);
}
