{
    "parser": "@typescript-eslint/parser",

    "extends": ["plugin:prettier/recommended"],

    "plugins": ["@typescript-eslint", "prettier"],

    "rules": {
        "prettier/prettier": "error"
    }
}
